.image-container {
    position: relative;
    width: 100%;
}

.background-image {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); // Semi-transparent overlay
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.overlay p {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
}

.main-photo-container {
    position: relative;
    width: 100%;
    overflow: hidden; // Prevents overflow issues
}

.overlay-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); // Darker for better readability
    display: flex;
    align-items: center; // Align text to the top
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.overlay-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4;
}

.google-scholar-button {
    margin-top: 0px; // Reduce space above the button
    background: rgba(0, 0, 0, 0.6); // Adjust transparency (0.3 makes it more transparent)
    color: white;
    border: none;
    padding: 8px 8px;
    font-size: 14px;
    align-items: center; // Align text to the top
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.google-scholar-button:hover {
    background: rgba(0, 0, 0, 0.5); // Slightly darker on hover
}

.google-scholar-button a {
    color: black !important;
    text-decoration: none;
}